* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}
.container {
  display: flex;
}

.col {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 90vh;
  width: 20%;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 680px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 90vh;
  }

  .col {
    width: 100%;
  }
}

i,
.hex-code {
  padding: 1rem;
  border-radius: 1rem;
  font-size: 2rem;
}

.hex-code:hover,
i:hover {
  opacity: 0.3;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.3s;
}

.keyboard {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: 0 4px #bbb;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.space-key {
  width: 20rem;
  height: 2rem;
  user-select: none;
}

.space-key.pressed {
  box-shadow: 0 2px #bbb;
  transform: translateY(2px);
}

.popup {
  visibility: hidden; /* Keeps the element invisible initially */
  color: #fff;
  font-size: 1.5rem;
  background-color: #333;
  min-width: 25rem;
  border-radius: 1rem;
  padding: 16px;
  text-align: center;
  left: 50%;
  bottom: 3rem;
  z-index: 1;
  position: fixed;
  opacity: 0; /* Start fully transparent */
  transform: translateX(-50%) translateY(100%); /* Center horizontally and move down */
  transition: transform 0.5s, opacity 0.5s; /* Smooth transition for transform and opacity */
}

.popup.show {
  visibility: visible;
  opacity: 1; /* Fully visible */
  transform: translateX(-50%) translateY(0%); /* Move to final position */
  transition: transform 0.5s, opacity 0.5s; /* Smooth transition for transform and opacity */
}
